extends layout

block navigation
	div.navbar-header
		h2 Power of Javascript
	div.navbar
	
block content
	div.row
		h3 
			| Play 
			a(href="http://www.wikihow.com/Play-Mastermind", target="_blank") Mastermind 
			| Online
			span(style="padding-left:30px;margin-left:10px;")
					a(href="/") Boring? Back to Finances!
	div.row
		div.container(ng-app="mastermind", id="approot")
			div.view-container
				div.view-frame.animate-view(ng-view)
				
	script(src='/js/app.js')
	script(src='/js/services/GameService.js')
	script(src='/js/controllers/GameController.js')
	script(src='/js/directives/GameDirective.js')