section.col-md-8
	article.panel.panel-info
		header.panel-heading(ng-controller="ClockController")
			.widget-clock-blue-light.time {{ clock  | date:'EEEE, MMM d, yyyy-MM-dd hh:mm a EST':'EST'}}
			.text-info Regular market hours are 9:30 a.m. to 4 p.m. Eastern Time. 
		.panel-body
			aside.flash.row
				article#finances.col-md-12.control-label(flash-alert="", :duration="0", :"active-class"="alert", :style="background-color:white;border: none;color:#999")
					span.alert-message
						| {{flash.message}}
			div(ng-controller="FinancesController", :style="white-space:nowrap")
				ul.list-inline(style="overflow-x:auto;width:100%;", ng-show="results.length > 0", id = "standardStocks")
					li.col-md-3(ng-repeat="result in results", style="overflow:hidden")
						display-stock(result = "result", on-display="up_or_down(change)")
				.row(style="padding-top:10px", ng-controller="StockController", ng-show="results.length > 0")
					.col-md-12
						h4(style ="font-family: PT Serif Bold;color:darkblue;") My Quote
						h4.small Add up to 3 ticker symbols
						div(ng-show="$customResults.stocks.length > 0", style="width:100%")
							ul.list-inline(style="overflow-x:auto;width:100%;", id = "customStocks")
								li.col-md-3(ng-repeat="result in $customResults.stocks", :style="overflow:hidden")
									display-stock(result = "result", customer = "isCustomer", on-display="up_or_down(change)", on-close="removeTicker($index)")
								li.col-md-3(style="vertical-align:top")
									button.btn.btn-primary(ng-click="refresh()") Refresh
					aside.flash.row.has-error(style="padding-left:10px")
						article#stock.col-md-12.control-label.fade(flash-alert="", active-class="alert in")
							span.alert-message
								| {{flash.message}}
					form.form-inline.col-md-8(role="form", style="padding-top:5px")
						.form-group.col-md-8
							label.sr-only(for="ticker") Ticker
							input.form-control(type="text", ng-model="ticker", placeholder = "Stock Ticker Symbol", id="ticker", ng-disabled="$customResults.stocks.length >= 3")
						button.btn.btn-primary(id = "submitTicker", ng-click="show(ticker)", ng-disabled="ticker.length == 0 || $customResults.stocks.length >= 3") Submit 
			.col-md-6(ng-controller="CurrenciesController")
				h3(style ="font-family: PT Serif Bold;color:darkblue;") Major Currencies
				table#standardCurrencies.table-stripped.table-responsive
					thead
						tr
							th.col-md-8 Currency Pair
							th.col-md-8 Price
							th.col-md-8 Change
						tr(ng-repeat="result in results")
							td {{result.Name}}
							td(animate-on-price-change="result.RateChanged") {{result.Rate | number : 4}}
							td
								span.col-md-offset-2(ng-class="up_or_down(result.RateChanged, true)", animate-on-price-change="result.RateChanged") {{result.RateChanged | number : 4}}
		.col-md-10
			h3(style ="font-family: PT Serif Bold;color:darkblue;") Currency Converter
			aside.flash.row.has-error
				article.col-md-12.control-label.fade(flash-alert="", active-class="alert in")
					span.alert-message
						| {{flash.message}}
			form.form-horizontal(role="form", ng-controller="CurrencyConverterController")
				.form-group.col-md-8
					.col-md-10
						label.sr-only(for="currency1") Currency1:
						input.form-control.typeahead(type="text", placeholder="Country or Currency code", autofocus=true, sf-typeahead="", ng-model="currency1", ng-change = "convert('amount1')", ng-disabled = "isLoading", id="currency1", options = "currencyOptions", datasets="currenciesDataset")
					.col-md-10
						label.sr-only(for="currency2") Currency2:
						input.form-control.typeahead(type="text", placeholder="Country or Currency code", autofocus=true, sf-typeahead="", ng-model="currency2", ng-change = "convert('amount2')", ng-disabled = "isLoading", id="currency2", options = "currencyOptions", datasets="currenciesDataset")
				.form-group.col-md-4
					.col-md-10
						label.sr-only(for="amount1") Amount1:
						input.form-control(type="number", placeholder="Amount", ng-model="amount1", ng-change = "convert('amount2')", animate-on-xchange = "amount1", ng-disabled = "isLoading", id="amount1", name="amount1")
					.col-md-10
						label.sr-only(for="amount2") Amount2:
						input.form-control(type="number", placeholder="Amount", ng-model="amount2", ng-change = "convert('amount1')", animate-on-xchange = "amount2", ng-disabled = "isLoading", id="amount2", name="amount2")
				
							
					