section.col-md-8
	table(style="text-align:center;border: 6px brown solid;background-color:BurlyWood;")
		thead
			tr#game-results
				td(ng-repeat="result in $game.result track by $index")
					canvas#resultCanvas(width=40, height=40, show-circle="", color="lightgray", symbol="2665", style="padding:3px")
				td.col.md-2 &nbsp;
		tbody#game
			tr(ng-repeat="step in stepNums.slice().reverse()")
				form
					td(ng-repeat="i in $game.codelengthArr track by $index", style="background-color: SaddleBrown;padding:5px")
						canvas#resultCanvas(width=27, height=27, color="black", show-circle="", ng-model="$game.steps[step]", ng-drop="true" ng-drop-success="onDropComplete($data,$event)")
					td.col-md-4
						check-result(step="step", $game="$game")
		tfoot
			tr
				td#selection(colspan="{{$game.codelength + 1}}", style="text-align:left")
					ul.list-inline(style="margin-top:20px;margin-left:5px")
						li(ng-repeat="(ball, color) in balls")
							canvas(width="25", height="25", id="{{ball}}", color="{{color}}", show-circle="", ng-drag="true", ng-drag-data="ball", ng-center-anchor="true")
					form.form-horizontal.col-md-8(role="form", style="text-align:left")
						.form-group(style="text-align:left;margin-left:10px;")
							label.control-label.col-md-6(for="codelength", style="padding:0") Code Length: 
							.col-md-6
								select(ng-options="code as code for code in codelengths", ng-model="$options.codelength", id="codelength")
						.form-group(style="text-align:left;margin-left:10px;")
							label.control-label.col-md-6(for="duplicates", style="padding:0") Allow Duplicates: 
							.col-md-6
								input(type="checkbox", ng-model="$options.duplicates", id="duplicates")
						.form-group
							.col-md-12(style="margin-left:50px")
								button.btn.btn-primary(ng-click="start()") New Game		